includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8

	paths:
		- mantle.php
		- app/
		- config/
		- database/
		- routes/
		- views/

	# ignoreErrors:
	# 	- "..."
