/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
	max-height: 450px !important;
  max-width 450px !important

h1, h2, h3, h4
	border: none;

header.navbar
	border: none
	box-shadow: inset 0 -1px #e3e8ee;

aside.sidebar
	border: none
	box-shadow: inset -1px 0 #e3e8ee;

.home-code
	margin: 40px 0;

.home-code > div[class*="language-"]
	margin-bottom: 0;
	margin-top: 0;

.home-code pre[class*="language-"]
	overflow: hidden !important;

@media (min-width: 768px)
	.home-code
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, calc(50% - 15px)));
		grid-column-gap: 30px;

	.home-lower
		column-gap: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

.goals
	margin: 50px auto 0;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.3;

.home #main-title
	display: none;
